# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/

# Virtual environment folders
venv/
env/
.venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Hugging Face / diffusers cache
hf_cache/
diffusers_cache/
transformers_cache/

# Models (large files, keep offline)
models/*.safetensors
models/lcm-lora-sdv1-5/*

# Output images
output.png
*.jpg
*.jpeg
*.png

# IDE/project files
*.idea/
.vscode/
*.sublime-project
*.sublime-workspace